<footer>

    <div class="footer_menu">
        <ul class="footer_list">
            <li class="footer_item">Company Info
                <ul class="sub_footer_list">
                    <li class="sub_footer_item">
                        <a href="#" class="text-decoration-none">About Crystal</a>
                    </li>
                    <li class="sub_footer_item">
                        <a href="#" class="text-decoration-none">Sustainability</a>
                    </li>
                    <li class="sub_footer_item">
                        <a href="#" class="text-decoration-none">Supply Chain</a>
                    </li>
                    <li class="sub_footer_item">
                        <a href="#" class="text-decoration-none">Careers</a>
                    </li>
                </ul>
            </li>
            <li class="footer_item">Help & Support
                <ul class="sub_footer_list">
                    <li class="sub_footer_list">
                        <a href="#" class="text-decoration-none">Shipping Info</a>
                    </li>
                    <li class="sub_footer_list">
                        <a href="#" class="text-decoration-none">Returns</a>
                    </li>
                    <li class="sub_footer_list">
                        <a href="#" class="text-decoration-none">Refunds</a>
                    </li>
                    <li class="sub_footer_list">
                        <a href="#" class="text-decoration-none">How to Orders</a>
                    </li>
                    <li class="sub_footer_list">
                        <a href="#" class="text-decoration-none">How to Track</a>
                    </li>
                </ul>
            </li>
            <li class="footer_item">Customer Care
                <ul class="sub_footer_list">
                    <li class="sub_footer_list">
                        <a href="#" class="text-decoration-none">Contact Us</a>
                    </li>
                    <li class="sub_footer_list">
                        <a href="#" class="text-decoration-none">Payment & Tax</a>
                    </li>
                    <li class="sub_footer_list">
                        <a href="#" class="text-decoration-none">Coupon</a>
                    </li>
                    <li class="sub_footer_list">
                        <a href="#" class="text-decoration-none">FAQ</a>
                    </li>
                </ul>
            </li>
            <li class="footer_item">Find Us On
                <ul class="social_icon_list">
                    <li class="social_icon_item">
                        <a href="#" class="text-decoration-none"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="social_icon_item">
                        <a href="#" class="text-decoration-none"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="social_icon_item">
                        <a href="#" class="text-decoration-none"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li class="social_icon_item">
                        <a href="#" class="text-decoration-none"><i class="bi bi-youtube"></i></a>
                    </li>
                    <li class="social_icon_item">
                        <a href="#" class="text-decoration-none"><i class="bi bi-pinterest"></i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer_menu_disclaimer">
        <p class="copyright">&copy; crystal 2026 | coded by Mirai Ruri | all right reserved.</p>
    </div>

</footer>